@page "/index"
@using Flasher.Shared
@inject HttpClient Http

<h1>Flash Cards</h1>

<p>These are my Flash Cards</p>

@if (flashCards == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Front</th>
                <th>Back</th>                               
            </tr>
        </thead>
        <tbody>
            @foreach (var flashCard in flashCards)
            {
                <tr>
                    <td>@flashCard.Front</td>
                    <td>@flashCard.Back</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private FlashCard[] flashCards;

    protected override async Task OnInitializedAsync()
    {
        flashCards = await Http.GetFromJsonAsync<FlashCard[]>("FlashCard");
    }

}
