@page "/category/{selectedsupersetid}"

<EditForm Model="SelectedSet" OnValidSubmit="HandleOnValidSubmit">
    <div class="col">
        <div class="row">
            <h3>The Flasher</h3>
            <br />
            <h5>Flash Card application</h5>
        </div>
        <div class="row mt-4">
            <div class="input-group">
                <label for="supersets" class="col-2 col-form-label">Subject</label>
                <InputSelect multiple id="supersets" class="form-control" @bind-Value="SelectedSetId" @bind-Value:event="onchange">
                    @*<option value="0" disabled>select subject</option>*@
                    @foreach (Set set in Sets)
                    {
                        <option value="@set.Id">@set.Title</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="row mt-4">
            <div class="input-group">
                <label for="start" class="col-2 col-form-label"></label>
                <button id="start" type="submit" class="btn btn-primary col-2">Start</button>
            </div>
        </div>

    </div>
</EditForm>