@page "/category/{selectedsupersetid}"

<EditForm Model="SelectedSet" OnValidSubmit="HandleOnValidSubmit">
    <div class="col">
        <div class="row">
            <h3>The Flasher</h3>
            <br />
            <h5>Flash Card application</h5>
        </div>
        <div class="row mt-4">
            
                @foreach (Set set in Sets)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="@set.Id" value="false" @onchange="(args => { CheckboxClicked(set.Id, args.Value); })" />
                        <label class="form-check-label" for="@set.Title">
                            @set.Title
                        </label>
                    </div>                        
                }                
            
        </div>
        <div class="row mt-4">
            <div class="input-group">
                <label for="start" class="col-2 col-form-label"></label>
                <button id="start" type="submit" class="btn btn-primary col-2">Start</button>
            </div>
        </div>

    </div>
</EditForm>