@page "/"

<h1>The Flasher</h1>

<p>Would you like to continue with an existing practice test or start a new one?</p>

<button class="btn btn-primary" @onclick="ContinueTest">Continue</button>
<button class="btn btn-primary" @onclick="NewTest">New</button>