@page "/"

<h1>The Flasher</h1>
<h3>Flashcard Application</h3>

<p>Would you like to continue with an existing practice test or start a new one?</p>

<button class="btn btn-primary" @onclick="ContinueTest">Continue a previous test</button>
<button class="btn btn-primary" @onclick="NewTest">Start a new test</button>