@page "/"

<div class="col">
    <div class="row">
        <h3>Flasher</h3>
        <br />
        <h5>Flash Card application</h5>
    </div>
    <div class="row">

    </div>






    @*<div class="card">
        <div class="card-header">
        </div>

        <div class="card-body">
        </div>

        <div class="card-footer">
        </div>
    </div>*@
</div>


@code {}

