@page "/"

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">Question</div>
            <div class="card-body"></div>
            <div class="card-footer">
                <button class="btn btn-primary">Show</button>
                <button class="btn btn-success">Answered Correctly</button>
            </div>
        </div>
    </div>    
</div>

@code{

}
