@page "/"
@using Flasher.Shared.Data.Models;
@using Flasher.Web.Services.Interfaces;
<div class="">
    <div class="col">
        <div class="card">
            <div class="card-header"><h3>Question @*@FlashCards[CardIndex].Title*@ </h3></div>
            <div class="card-body">
                <h5>@FlashCardSide</h5>
                <p>@FlashCardBody</p>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <button class="btn btn-primary" @onclick="FlipFlashCard">Show @ShowButton</button>
                    <button class="btn btn-success ml-4">Answered Correctly</button>
                    <button class="btn btn-outline-primary ml-4" @onclick="NextFlashCard">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>



